/*Navbar Styles*/

.navbar{
display: flex;
justify-content:space-between;
align-items:center;
background-color: #333;
padding: 10px 20xp;
color:white;
box-shadow:0 2px 5px rgba(0,0,0,0,1);
}

.logo{
font-size:24px;
font-weight:bold;
color: white;
}

nav{
display:flex;
align-items:center;
}

nav a{
color: white;
text-decoration:none;
margin:5px 10px;
border-radius: 5px;
transition:background-color 0.3s;
}

nav a:hover{
background-color: #555;
}

nav a.active{
background-color: #555;
}

.btn-contact{
background-color: #ff6b81;
color:white;
padding: 8px 15px;
border-radius: 5px;
text-decoration:none;
transition:background-color 0,3s;
}

.btn-contact:hover{
 background-color: #ff4757;
}

/*1.Main Container to give some spacing from sides*/
.container{
 max-width:1000px;
 margin:0 auto;/*Centers the container*/
 padding:40px 20px  
}

.page-title{
 color:#2c3e50;
 text-align:center;    
}

.intro-text{
text-align:center;
margin: bottom 40px;
color:#555
}

/*2.THE GRID SYSTEM (important)*/
.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
gap:30px;/*Space between boxes*/
}

/*3.THE CARD DESIGN*/
.card{
background-color:white;
border-radius: 10px;/*Rounded corners*/
box-shadow:0 4px8px rgba(0,0,0,1);
overflow:hidden;
transition:transform 0.3s;/*Animation setup*/ 
}

.card:hover{
transform:translateY(-10px)
}

.card-image{
 height:150px;
 width:100%
}

.card_content{
padding:20px
}

.card-content h3{
margin-top:0;
color: #333
}

.btn-small{
 display:inline-block;
 margin-top: 10px;
 text-decoration: none;
 background-color:#333;
 color:white;
 padding:8px 15px;
 border-radius: 5px;
 font-size:14px;
}

.btn-small:hover{
 background-color: #555;
}